* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e6ecf0;
}

.sidebar-option {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.sidebar-option i, .fa-twitter {
    padding: 20px;
}

.sidebar-option a {
    font-weight: 800;
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

.sidebar-option:hover, .sidebar-option a:hover {
    background-color: rgb(182, 175, 175);
    border-radius: 30px;
    color: #e6ecf0;
    transition: color 100ms ease-out;
}

.sidebar-option.active, .sidebar-option.active a {
    color: blue;
}

.tweet_btn {
    width: 100%;
    background-color: blue;
    color: #e6ecf0;
    border: none;
    font-weight: 900;
    border-radius: 30px;
    padding: 15px;
    margin-top: 20px;
}

body {
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    /* padding: 0 10px; */
}

.sidebar {
    border-right: 1px solid black;
    flex: 0.2;
    min-width: 250px;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.fa-twitter {
    color: blue;
    font-size: 30px;
}

.box_header {
    display: flex;
    padding-top: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 10px;
    gap: 250px;
    border-bottom: 1px solid black;
}

.tweet_input img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.postImg1 {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.feed {
    flex: 0.5;
    border-right: 1px solid black;
    min-width: fit-content;
    overflow-y: scroll;
}

.feed_header {
    position: sticky;
    top: 0;
    padding: 0 20px;
}

.feed_header h3 {
    font-size: 20px;
    font-weight: 800;
}

.feed::-webkit-scrollbar {
    display: none;
}

.feed {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.tweet_input {
    display: flex;
    align-items: center;
    /* gap: 10px; */
}

.tweet_input input {
    padding: 15px;
    flex: 1;
    margin-left: 10px;
    font-size: 20px;
    border: none;
    outline: none;
}

.tweetbox {
    padding: 10px;
    border-bottom: 1px solid black;
    background-color: #fff;
}

.tweet-area-icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 20px;
}

.btn2 {
    border: none;
    background-color: blue;
    color: #fff;
    padding: 10px 15px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 900;
}

.tweetIcons {
    font-size: 20px;
    color: blue;
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.tweetbox form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.underTweetBox {
    border-bottom: 1px solid black;
    padding: 10px;
    text-align: center;
    color: blue;
}

.postImg2 {
    width: 550px;
    object-fit: contain;
    border-radius: 20px;
}

.posts {
    display: flex;
    flex: 1;
    align-items: flex-start;
    gap: 10px;
    padding: 10px;
}

.post_content {
    padding: 0 20px;
}

.postFooterIcons {
    display: flex;
    align-items: center;
    gap: 80px;
}

.widget {
    flex: 0.3;
}

.widget_input {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 30px;
    margin-top: 10px;
    margin-left: 20px;
}

.widget_input input {
    border: none;
    outline: none;
    background-color: #fff;
}

.actualWidget {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}

.embed {
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
}